<p id="notice"><%= notice %></p>

<h1>Listing Gigs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Ville</th>
      <th>Departement</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gigs.each do |gig| %>
      <tr>
        <td><%= gig.ville %></td>
        <td><%= gig.departement %></td>
        <td><%= gig.place %></td>
        <% if current_user.role == "admin"  %>
          <td><%= link_to 'Edit', edit_admin_gig_path(gig) %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user.role == "admin"  %>
  <div>
    <center>
      <%= link_to 'Gerer les gigs', admin_gigs_path, class: "btn btn-primary" %>
    </center
  ></div>
<% end %>
        