<p id="notice"><%= notice %></p>

<p>
  <strong>Ville:</strong>
  <%= @gig.ville %>
</p>

<p>
  <strong>Departement:</strong>
  <%= @gig.departement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @gig.place %>
</p>

<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
